
.wrapper {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: auto;
  top: 0;
  /*left: 0;*/
  bottom: 0;
  right: 0;
  display: flex;*/
}
.container {
  font: 0.1px;
  padding: 0 20px;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext {
  padding: 0rem 0.75rem;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
  height: calc(2rem + 2px);
  line-height: 1;
  min-height: calc(2em + calc(var(--bs-border-width) * 2));
}

.form-floating>label {
  /*padding: 0.5rem 0.75rem;
  font-size: 0.7em; */
  padding: 0.15rem 0.75rem 0rem 0.75rem !important;
}

.form-floating:focus-within > label {
  font-size: 0.7em; 
  padding: 0.5rem 0.75rem 0.1rem 0.75rem !important;
  
}

.form-floating > .form-control {
  padding-top: 10px; 
}

.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
    background-color: transparent !important;
}

.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1rem;
}
