#hero
{
    padding-top: 20%;
    $box-shadow:   0 .75rem 1rem rgba(0,0,0, .25);
}

/*

Chat

*/

#chat
{
    /*padding-right: calc(var(--bs-gutter-x) * 1);
    padding-left: calc(var(--bs-gutter-x) * 1);*/
}

.message 
{
    padding:3px;
}

.messageContents 
{

    background-color: rgba(245, 246, 247, 0.75);
}

.messageContents.alt
{
    background-color: rgba(210, 210, 210, 0.75);
}

.sender 
{
    text-align:right;
}

.judge > .sender
{
    font-weight: bold;
}

.plaintiff > .sender,
#winner.plaintiff
{
    color: blue;
}

.defendant > .sender,
#winner.defendant
{
    color: green;
}

/*
User Input
*/

#inputGroup
{
    padding-top: 25px;
}

body, html {
    height: 100%;
    margin: 0;
    position: relative;
    overflow: auto;
}

/*

Background

*/

#background {
    content: "";
    background: var(--bg-image) no-repeat center center fixed; 
    background-size: cover;
    opacity: var(--bg-opacity);
    transition: opacity 5s ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;  /* This will make the div stick to the screen. */
    z-index: -1;   
    width: 100%;
    height: 100%;
}

#page {
    position: relative; /* This will make the page content sit on top of the background. */
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#courtRoom
{
    padding-right: calc(var(--bs-gutter-x) * 1);
    padding-left: calc(var(--bs-gutter-x) * 1);
}

.Analysis
{

}

#analysis0
{
    background-color: rgba(200, 200, 247, 0.75);
}

#analysis1{
    background-color: rgba(200, 246, 200, 0.75);
}


/*

Identity

*/

.profilePicture
{
    width:60%;
    margin:20px
}

/* Large desktop * /
@media (min-width: 1200px) { ... }*/
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

    .col-s-12 {
        width: 100%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-4 {
        width: 33.33333%;
    }
    .col-s-3 {
        width: 25%;
    }

 }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

    .col-s-12 {
        width: 100%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-4 {
        width: 33.33333%;
    }
    .col-s-3 {
        width: 25%;
    }

    .col-xs-12 {
        width: 100%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-4 {
        width: 33.33333%;
    }
    .col-xs-3 {
        width: 25%;
    }

 }
/* Landscape phones and down */
@media (max-width: 480px) { 




    .col-s-12 {
        width: 100%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-4 {
        width: 33.33333%;
    }
    .col-s-3 {
        width: 25%;
    }

    .col-xs-12 {
        width: 100%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-4 {
        width: 33.33333%;
    }
    .col-xs-3 {
        width: 25%;
    }
    
    .col-xxs-12 {
        width: 100%;
    }
    .col-xxs-6 {
        width: 50%;
    }
    .col-xxs-4 {
        width: 33.33333%;
    }
    .col-xxs-3 {
        width: 25%;
    }
    /* ... continue for other grid fractions ... */
}
