.message 
{
    background-color: rgba(245, 246, 247, 0.75);
}

.message.alt
{
    background-color: rgba(210, 210, 210, 0.75);
}


.messageContents 
{

}
.sender 
{
}

.judge > .sender
{
    font-weight: bold;
}

.plaintiff > .sender,
#winner.plaintiff
{
    color: blue;
}

.defendant > .sender,
#winner.defendant
{
    color: green;
}

body, html {
    height: 100%;
    margin: 0;
    position: relative;
    overflow: auto;
}

#background {
    content: "";
    background: var(--bg-image) no-repeat center center fixed; 
    background-size: cover;
    opacity: var(--bg-opacity);
    transition: opacity 5s ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;  /* This will make the div stick to the screen. */
    z-index: -1;   
    width: 100%;
    height: 100%;
}

#page {
    position: relative; /* This will make the page content sit on top of the background. */
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#courtRoom
{
}

.Analysis
{

}

#analysis0
{
    background-color: rgba(200, 200, 247, 0.75);
}

#analysis1{
    background-color: rgba(200, 246, 200, 0.75);
}


/*

Identity

*/

.profilePicture
{
    width:60%;
    margin:20px
}