.message 
{
    background-color: rgba(245, 246, 247, 0.75);
}

.message.alt
{
    background-color: rgba(210, 210, 210, 0.75);
}


.messageContents 
{

}
.sender 
{
}

.judge > .sender
{
    font-weight: bold;
}

.plaintiff > .sender,
#winner.plaintiff
{
    color: blue;
}

.defendant > .sender,
#winner.defendant
{
    color: green;
}

html, body {
    height: 100%;
    margin: 0;
    position: relative;
}

body::before {
    content: "";
    background: var(--bg-image) no-repeat center center fixed; 
    background-size: cover;
    opacity: var(--bg-opacity);
    transition: opacity 5s ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

#page {
    max-width: 1200px;
    margin: 0 auto;  /* optional: centers the element if its width is less than the max-width */
    padding: 20px;
}

.Analysis
{

}

#analysis0
{
    background-color: rgba(200, 200, 247, 0.75);
}

#analysis1{
    background-color: rgba(200, 246, 200, 0.75);
}